---
import "./SiteFooter.css";
---

<footer class="footer">
  <div class="footer-inner">
    <span class="footer-copy"
      >© {new Date().getFullYear()} Erik Escobedo</span
    >
    <div class="footer-links">
      <a href="https://github.com/escoberik" target="_blank" rel="noopener"
        >GitHub</a
      >
      <a href="mailto:erik@escobedo.dev">Email</a>
      <a
        href="https://www.toptal.com/developers/resume/erik-escobedo"
        target="_blank"
        rel="noopener">Toptal</a
      >
    </div>
  </div>
</footer>
